html,
body {
	height: 100%;
	
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 600;
	color: #474747;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}
p {
	font-size: 14.1px;
	color: #878787;
	line-height: 2.2;
	font-weight: 500;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

::-webkit-input-placeholder {
	font-style: italic;
}

::-ms-input-placeholder {
	font-style: italic;
}

:-ms-input-placeholder {
	font-style: italic;
}

::placeholder {
	font-style: italic;
}

a:hover {
	color: #d82a4e;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	text-align: center;
	padding: 0 110px;
	margin-bottom: 110px;
}

.section-title h2 {
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 25px;
}

.section-title p {
	margin-bottom: 0;
	font-weight: 500;
}

.set-bg {
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}
.site-btn {
	display: inline-block;
	min-width: 20px;
	text-align: center;
	border: none;
	width: 20%;
	padding: 15px 10px;
	font-weight: 600;
	font-size: 16px;
	position: relative;
	color: #fff;
	cursor: pointer;
	background: #d82a4e;
}

/*------------------
  Header section
---------------------*/

.site-logo {
	display: inline-block;
}

.main-menu ul {
	list-style: none;
}

.main-menu ul li {
	display: inline;
}

.main-menu ul li a {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	margin-left: 45px;
	font-weight: 600;
	padding: 20px 0 5px;
}

.main-menu ul li a:hover {
	color: #d82a4e;
}

.header-btn {
	float: right;
	margin-right: 0;
	width: 100%;
}

.nav-switch {
	display: none;
}

/*------------------
  Hero Section
---------------------*/
.hero-text {
	text-align: center;
	height:100px;
	margin-bottom: 105px;
}

.hero-text h2 {
	font-size: 60px;
	font-weight: 500;
	margin-bottom: 20px;
}
.contact-form {
	background: #fff;
	padding: 60px;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
	height: 57px;
	width: 100%;
	padding: 0 30px;
	margin-bottom: 27px;
	float: left;
	border: none;
	font-size: 14px;
	font-weight: 500;
	background: #edf4f6;
}

.contact-form input[type=text]:focus,
.contact-form input[type=email]:focus,
.contact-form textarea:focus {
	border-bottom: 2px solid #d82a4e;
}

.contact-form input[type=file] {
	display: none;
}

.contact-form textarea {
	padding-top: 23px;
	padding-bottom: 15px;
	height: 225px;
}

.contact-form .file-up-btn {
	display: block;
	background: #3e3e3e;
	color: #fff;
	max-width: 175px;
	padding: 13px 5px;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 23px;
	clear: both;
	text-align: center;
	overflow: hidden;
}

.contact-form .site-btn {
	padding: 17px 10px;
}
.footer-warp {
	max-width: 1559px;
	padding: 0 15px;
	margin: 0 auto;
}

.widget-item ul li {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 500;
	color: #878787;
}

.widget-item ul li:last-child {
	margin-bottom: 0;
}

.widget-item ul a {
	color: #878787;
}

.widget-item ul.contact-list li {
	margin-bottom: 27px;
	position: relative;
	padding-left: 10px;
}

.footer-bottom {
	overflow: hidden;
	background: #edf4f6;
	padding: 20px 0;
	margin-top: 50px;
}
.copyright {
	padding-top: 3px;
	float: left;
	font-size: 14px;
	font-weight: 600;
	color: #474747;
}

.page-info-section {
	height: 443px;
}


.course-meta-area {
	background: #edf4f6;
	padding: 35px 0;
}

.course-meta-area .course-note {
	display: inline-block;
	background: #d82a4e;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	padding: 4px 15px;
	margin-bottom: 20px;
}


/*------------------
  Contact Page
---------------------*/

.contact-form-warp {
	background: #d82a4e;
	padding: 45px 47px;
}

.contact .section-title {
	padding: 15px;
	margin-bottom: 100px;
}

.contact-form-warp .contact-form {
	padding: 69px 40px 47px;
}

.contact-info-area {
	padding-top: 60px;
}

.contact-info-area .section-title {
	margin-bottom: 0px;
}

.contact-info-area .phone-number {
	margin-bottom: 100px;
}

.contact-info-area .phone-number span {
	font-size: 18px;
	font-weight: 700;
	color: #d82a4e;
	display: block;
	margin-bottom: 5px;
}

.contact-info-area .phone-number h2 {
	color: #646464;
	display: inline-block;
	position: relative;
	padding: 0 0 10px;
	padding-right: 12px;
}

.contact-info-area .phone-number h2:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 3px;
	left: 0;
	bottom: 0;
	background: #d82a4e;
}

.contact-info-area .contact-list {
	list-style: none;
	padding-left: 50px;
}

.contact-info-area .contact-list li {
	margin-bottom: 27px;
	position: relative;
	padding-left: 10px;
	font-size: 14px;
	font-weight: 500;
	color: #878787;
}

.contact-info-area .contact-list li:last-child {
	margin-bottom: 0;
}

.contact-info-area .contact-list li:after {
	position: absolute;
	content: "";
	width: 8px;
	height: 8px;
	left: -5px;
	top: 6px;
	border-radius: 50%;
	background: #d82a4e;
}
/*------------------
  Responsive
---------------------*/

@media (min-width: 1200px) {
	.container {
		max-width: 1180px;
	}
}



/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.main-menu ul li a {
		margin-left: 38px;
	}
	.header-btn {
		min-width: 160px;
	}
	.hero-text h2 {
		font-size: 55px;
	}
	.intro-newslatter .site-btn {
		min-width: 160px;
	}
	.course-search-form input[type=text],
	.course-search-form input[type=email] {
		width: 34.6%;
	}
	.course-search-form .site-btn {
		min-width: 173px;
	}
	.course-item .course-thumb {
		height: 220px;
	}
	.course-item .course-info .course-text {
		padding: 45px 15px 25px;
	}
	.course-item .course-info .course-author {
		padding: 14px 15px;
	}
	.signup-warp {
		padding: 0 35px;
	}
	.course-meta {
		padding: 5px 20px;
	}
}

